.gallery {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 100px;
    display: flex;
    border: 3px solid black;
  }
  h2{
    text-align: center;
  }
}
