/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "./assets/responsive.scss";

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(./assets/images/pngwing.com.png);
  font-family: "Press Start 2P", cursive;
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffffc0;
}
